<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Agenda de contactos - LocalStorage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/agenda.css">
</head>
<body>

	<div class="navbar navbar-default">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">Agenda de contactos</a>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-md-4">
				<form class="form-signin">
					<h2 class="form-signin-header">Contactos</h2>
					<input id="nombre" type="text" autofocus="" placeholder="Nombre" class="form-control">
					<input id="telefono" type="text" autofocus="" placeholder="Teléfono" class="form-control">
					<input id="email" type="text" autofocus="" placeholder="Correo electrónico" class="form-control">
					<button id="btnSubmit" type="submit" class="btn btn-lg btn-primary btn-block">Agregar</button>
				</form>
			</div>
			<div class="col-xs-12 col-md-8">
				<table id="contactos-agenda" class="table table-striped">
					<thead>
	        			<tr>
	        				<th></th>
	        				<th>Nombre</th>
	        				<th>Teléfono</th>
	        				<th>Correo electrónico</th>
	        			</tr>
	        		</thead>
	        	<tbody class="tbody">
	        		<script type="text/template" id="lista-contactos">
	        			<td>
	        				<img src='assets/img/edit.png' alt='Edit' class='btnEdit'>
	        				<img src='assets/img/delete.png' alt='Delete' class='btnDelete'>
	        			</td>
		            <td><%= nombre %></td>
		            <td><%= telefono %></td>
		            <td><%= email %></td>
        			</script>
	        	</tbody>
				</table>
			</div>
		</div>		
	</div>

	<script data-main="assets/js/mainjs" src="assets/js/vendor/require.js"></script>
</body>
</html>